
<div class="row justify-content-center">
    <div class="col-md-3">
<h1>Login Component</h1>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <h3>Enter your name</h3>
<input type="text" name="name" [(ngModel)]="user.name"/><br><br>
<h3>Enter your Mobile Number</h3>
<input type="text" name="mbnumber" [(ngModel)]="user.mbnumber"/><br><br>
<h3>Enter your Address</h3>
<input type="text" name="address" [(ngModel)]="user.address"/><br><br>

<div class="row justify-content-center">
  <div class="col-md-9">
<button class="btn btn btn-danger">Creat User</button>
</div>
</div>
</form>
</div>
</div>


<div class="contener">
    <div class="row justify-content-center">
      <div class="row">
        <div class="col-md-0 mt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Sr.Nomber</th>
                <th>User Name</th>
                <th>Mobile Number</th>
                <th>User Address</th>
                <th>Delete User</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let users of userList; index as i">
                  <td>{{i+1}}</td>
                <td>{{users.name}}</td>
                <td>{{users.mbnumber}}</td>
                <td>{{users.address}}</td>
                <td><button class="btn btn btn-success" (click)="getDelete(i)">Remove User</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  

