<form #formData="ngForm" (ngSubmit)="onSubmit()">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          name="firstname"
          placeholder="Enter Your First Name"
          [(ngModel)]="student.firstname"
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lastname"
          placeholder="Enter Your Last Name"
          [(ngModel)]="student.lastname"
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label for="firstName">Class</label>
        <input
          type="text"
          class="form-control"
          name="classname"
          placeholder="Enter Your Class"
          [(ngModel)]="student.classname"
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label for="firstName">Ragistretion Date</label>
        <input
          type="text"
          class="form-control"
          name="registretiondate"
          placeholder="Enter Your Ragistretion Date"
          [(ngModel)]="student.registretiondate"
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="form-group">
        <label for="firstName">Inrollment Id</label>
        <input
          type="text"
          class="form-control"
          name="Inrollmentid"
          placeholder="Enter Your Ragistretion Date"
          [(ngModel)]="student.Inrollmentid"
        />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-1">
      <button
        type="submit"
        class="btn btn-success mt-3" *ngIf="!isUpdate">
        Submit
      </button>
      <button
        type="edit"
        class="btn btn-warning mt-3" (click)="updateStudent()" *ngIf="isUpdate">
        On Edit
      </button>
      
    </div>
  </div>
</form>

<div class="contener">
  <div class="row justify-content-center">
    <div class="row">
      <div class="col-md-0 mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr.Number</th>
              <th>Student Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Class</th>
              <th>Ragistretion Date</th>
              <th>Inrollment Id</th>
              <th>Delet</th>
              <th>Edit</th>
            </tr>
          </thead>
          <div *ngIf="this.studentList.length === 0; else elseBlock">
            Students data are not avalable!
          </div>
          <ng-template #elseBlock>
            <tbody>
              <tr *ngFor="let student of studentList; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ student.id }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.classname }}</td>
                <td>{{ student.registretiondate }}</td>
                <td>{{ student.Inrollmentid }}</td>
                <td>
                  <button (click)="onDelete(student.id)" class="btn btn-danger">
                    Delete Student
                  </button>
                </td>
                <td>
                  <button (click)="onEditClick(i)" class="btn btn-warning">
                    Edit Student
                  </button>
                </td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
